* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

h3 {
    font-size: 50px;
    text-align: center;
    margin: 20px auto;
}

.panel-container {
    background: linear-gradient(0deg, rgba(116, 42, 42, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #4F772D;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 5%;
}

li {
    list-style: none;
    text-decoration: none;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}

nav ul {
    display: flex;
}

.list {
    margin-right: 5%;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.list ul li a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}